/viikko1/RiippuvuuksienInjektointi1/.nb-gradle/
/viikko1/NhlStatistics1/.nb-gradle/
/viikko1/RiippuvuuksienInjektointi1/build/
/viikko1/NhlStatistics1/build/
/viikko2/Verkkokauppa1/.nb-gradle/
/viikko2/Verkkokauppa1/build/
/viikko2/RiippuvuuksienInjektointiSpring/.nb-gradle/
/viikko2/RiippuvuuksienInjektointiSpring/build/
/viikko3/nhlreader/.nb-gradle/
/viikko3/HelloCucumber/.nb-gradle/
/viikko3/HelloCucumber/build/
/viikko3/LoginCucumber/.nb-gradle/
/viikko3/LoginCucumber/build/
/viikko3/WebLogin/.nb-gradle/
/viikko3/WebLogin/src/main/resources/
/viikko3/WebLogin/src/main/java/ohtu/data_access/
/viikko3/WebLogin/src/main/java/ohtu/domain/
/viikko3/WebLogin/src/main/java/ohtu/util/
/viikko4/MockitoDemo/.nb-gradle/
/viikko4/MockitoDemo/build/
/viikko4/MaksukorttiMockito/.nb-gradle/
/viikko4/MaksukorttiMockito/build/
/viikko4/Verkkokauppa/.nb-gradle/
/viikko4/Verkkokauppa/build/
/viikko4/IntJoukkoSovellus/.nb-gradle/
/viikko4/IntJoukkoSovellus/build/
/viikko4/Tennis/.nb-gradle/
/viikko4/Tennis/build/
/viikko5/LaskinFX8/.nb-gradle/
/viikko5/LaskinFX8/build/
/viikko6/QueryLanguage/.nb-gradle/
/viikko6/QueryLanguage/build/
/viikko7/KiviPaperiSakset/.nb-gradle/
/viikko7/KiviPaperiSakset/build/